

.imagem {
    border: none;
    display: flex;
    justify-content: center;      
    align-items: center;
    position: relative;  
    margin-right: 20px;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 200px;  
    border: 10px solid rgb(142, 61, 235);
    margin-right: 20px;
}


.redesociais img {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    width:  30px;
    height: 30px;
}


.btn {
    padding: 5px 20px;
    width: 50px;
    height: 30px;
    color: rgb(226, 222, 225);
    background: rgb(142, 61, 235);
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.btn:hover {
    background: rgb(181, 97, 245);
    transition: background 1s;
}

h3 {
    display: flex;
    justify-content: center;      
    text-align: center;
    position: relative; 
    font-family: Arial, Helvetica, sans-serif; 
}

h4 {
    display: flex;
    justify-content: center;      
    align-items: center;
    position: relative; 
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
}

h1 {
    margin: auto;
    padding: 40px;
    color: rgb(10, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg,rgb(20, 160, 202) 0%, rgb(142, 61, 235) , rgb(226, 222, 225)  100%);
}